<div class="navbar-container">
  <div class="content">
    <h1 (click)="scroll()" routerLink="/main">TMTK <span>.</span></h1>
    <div class="nav-lang">
      <nav>
        <ul>
          <li><a routerLink="/nfts" routerLinkActive="active">NFT</a></li>
          <li><a routerLink="/prices" routerLinkActive="active">Prices</a></li>
          <li><a routerLink="/news" routerLinkActive="active">News</a></li>
        </ul>
      </nav>
      <nav class="sign-btns">
        <ul>
          <ng-container *ngIf="isLogged$ | async; else notloggedin">
            <li><a routerLink="/profile">Profile</a></li>
            <li><a (click)="logOut()">Sign Out</a></li>
          </ng-container>

          <ng-template #notloggedin
            ><li>
              <a routerLink="/signin">Sign in</a>
            </li>
            <li>
              <a routerLink="/register">Sign up</a>
            </li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</div>
