<div class="navbar-container">
  <div class="content">
    <h1 routerLink="/main">Crypto</h1>
    <div class="nav-lang">
      <nav>
        <ul>
          <li><a routerLink="/nfts" routerLinkActive="active">NFT</a></li>
          <li><a routerLink="/prices" routerLinkActive="active">Prices</a></li>
          <li><a routerLink="/news" routerLinkActive="active">News</a></li>
          <li><a routerLinkActive="active">Rame</a></li>
        </ul>
      </nav>
      <h2>language</h2>
    </div>
  </div>
</div>
