<div class="main">
  <app-slider></app-slider>
  <app-price-review></app-price-review>

  <div class="news">
    <app-news></app-news>
  </div>

  <div
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
    class="container-nft"
  >
    <ng-container *ngIf="items.length">
      <h1 routerLink="/nfts">BUY YOUR FAVORITE NFT's</h1>
      <div routerLink="/nfts" class="nfts">
        <ng-container *ngFor="let item of items; let i = index">
          <div @sliderFade class="slide" *ngIf="i == currentSlideIndex">
            <div class="slide-bg">
              <img class="slide-bg-image" src="{{ item }} " />
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="pic">
    <div class="container">
      <h1 data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        Trade with confidence on the world’s fastest and most secure crypto
        exchange
      </h1>
      <div
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        class="market"
      >
        <p>MOBILE APP</p>
        <div class="appstore">
          <div class="right">
            <img src="../../../assets/app-store.png" alt="" />
          </div>
          <div class="left">
            <img src="../../../assets/google-play.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="content">
    <div>
      <h4>App</h4>
      <p>Buy and Sell</p>
      <p>Crypto Earn</p>
      <p>Crypto Credit</p>
      <p>Tmtk.com Pay</p>
    </div>
    <div>
      <h4>Exchange</h4>
      <p>Exchange Home</p>
      <p>Margin Trading</p>
      <p>Derivatives Trading</p>
      <p>The Syndicate</p>
    </div>
    <div>
      <h4>Blockchain</h4>
      <P>Tmtk.com Chain</P>
      <P>Chain Explorer</P>
    </div>
    <div>
      <h4>Resources</h4>
      <p>Prices</p>
      <p>Site Widgets</p>
      <p>Tax</p>
      <p>Support</p>
    </div>
    <div>
      <h4>Learn</h4>
      <p>What's Trending</p>
      <p>Product News</p>
      <p>Events</p>
      <p>University</p>
    </div>
    <div>
      <h4>Company</h4>
      <p>About</p>
      <p>Careers</p>
      <p>News</p>
      <p>Security</p>
    </div>
    <div>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </div>
  <div class="copy-right">
    <p>Copyright © 2022 - 2023 All rights reserved.</p>
  </div>
</footer>
