$main-bg-color: rgb(6, 17, 33);
$main-font-color: rgb(244, 244, 244);

$nav-text-color: #b5b0b0;
$nav-bg-color: #061121;

$random: #007aff;

$small-text-color: #1199fa;

$rised-color: #20bca4;
$decline-color: #e64b60;

$input-text-color: #495057;
$input-background-color: rgb(252, 252, 252);
$input-border-color: #ced4da;
$input-border-focus-color: #007bff;

// font-family: Acumin Pro,acumin-pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
