<div class="wrapper">
  <div class="container">
    <h1>Buy Your Favorite NFTs</h1>

    <div class="card-wrapper">
      <ng-container *ngFor="let nft of nftArr$ | async">
        <div class="card">
          <img [src]="nft.img_src" alt="hhtps//:google.com/img/2" />
          <div class="card-text">
            <p>{{ nft.author }}</p>
            <h1>{{ nft.title }}</h1>
            <div class="price">
              <span>$</span>
              <h3>{{ nft.price }}</h3>
            </div>
            <button>Buy</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
