<div class="wrapper">
  <div class="container">
    <h1>Sign In</h1>
    <form [formGroup]="signinform">
      <div>
        <p>Email</p>
        <input
          type="email"
          formControlName="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div>
        <p>Password</p>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <button (click)="logIn()">Sign in</button>
    </form>
  </div>
</div>
