@import "../../styles/palette.scss";

.wrapper {
  padding-top: 97px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f2f2;
  color: #2b2b2b;
  .container {
    width: 1080px;
    h1 {
      text-transform: uppercase;
      cursor: pointer;
      color: #0058AA;
      align-self: flex-start;
      font-size: 24px;
      font-weight: bold;
      line-height: 26.4px;
      margin-bottom: 30px;
      letter-spacing: 1.25px;
    }
    .news {
      width: 100%;
      display: grid;
      grid-template-columns: 352.33px 376.33px 351.33px;
      border-top: 1px solid #cacaca;
      .example-card {
        position: relative;
        margin-top: 32px;
        padding-bottom: 32px;
        height: 417px;
        border-bottom: 1px solid #cacaca;
        &.right {
          padding: 0 24px 0 0;
          position: relative;
          &::after{
            content: '';
            width: 1px;
            height: 385px;
            background-color: #cacaca;
            position: absolute;
            right: 0;
            top: 0;

          }
        }

        &.left {
          padding: 0 0 0 24px;
        }
        &.middle {
          padding: 0 24px;
          position: relative;
          &::after{
            content: '';
            width: 1px;
            height: 385px;
            background-color: #cacaca;
            position: absolute;
            right: 0;
            top: 0;

          }
        }

        img {
          width: 327px;
          height: 199px;
          margin-bottom: 10px;
        }
        .content-text{
          width: 327px;
          .author{
            color: #0058AA;
            font-size: 11px;
            letter-spacing: .5px;
            line-height: 22.1px;
            margin-bottom: 25px;
            //text-transform: uppercase;
          }
          h3{
            color: #2b2b2b;
            display: -webkit-box;
            font-size: 18px;
            font-weight: 600;
            line-height: 24.3px;
            margin-bottom: 16px;
            overflow: hidden;
            word-break: break-word;
          }
          .date{
            color: #2b2b2b;
            font-size: 16px;
            letter-spacing: .5px;
            line-height: 24px;
            left: 10px;
            position: absolute;
            bottom: 32px;

          }
          }
        }
      }
    }
  }

